{% extends 'base.html' %}

{% block content %}

  {% for error in form.non_field_errors %}
    <div class="alert alert-error shadow-lg mb-4">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
             viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        <span>{{ error }}</span>
      </div>
    </div>
  {% endfor %}

  <div class="relative mx-auto max-w-screen-xl px-4 py-8">
    <div class="grid grid-cols-1 items-start gap-8 md:grid-cols-2">
      <div class="grid grid-cols-2 gap-4 md:grid-cols-1">
        {% if object.thumbnail %}
        <img
          alt="Les Paul"
          src="{{ object.thumbnail.url }}"
          class="aspect-square w-full rounded-xl object-cover"
        />
        {% endif %}
        <div class="grid grid-cols-2 gap-4 lg:mt-4">
          {% for image in images %}
          <img
            alt="Les Paul"
            src="{{ image.filepath.url }}"
            class="aspect-square w-full rounded-xl object-cover"
          />
          {% endfor %}
        </div>
      </div>

      <div class="sticky top-0">
        <div class="badge badge-secondary badge-outline">OFFICIAL</div>
      {% if object.per_user_limit > 0 %}
        <div class="badge badge-accent badge-outline">LIMITED</div>
      {% endif %}
        <div class="mt-8 flex justify-between">
          <div class="max-w-[35ch] space-y-2">
            <h1 class="text-2xl font-bold">
              {{ object.name }}
            </h1>

            <div class="rating rating-sm gap-1">
              <input type="radio" name="rating" class="mask mask-heart bg-red-400"/>
              <input type="radio" name="rating" class="mask mask-heart bg-orange-400" checked/>
              <input type="radio" name="rating" class="mask mask-heart bg-yellow-400"/>
              <input type="radio" name="rating" class="mask mask-heart bg-lime-400"/>
              <input type="radio" name="rating" class="mask mask-heart bg-green-400"/>
            </div>
          </div>

          <p class="text-lg font-bold">${{ object.base_price }}+</p>
        </div>

        <!--<div class="mt-4">
          <div class="prose max-w-none">
            <p>

            </p>
          </div>

          <a href="#description" class="mt-2 text-sm font-medium underline">Read More</a>
        </div>-->

        <form class="mt-8" action="" method="post">
          {% csrf_token %}

          <div class="form-control w-full">
            <label class="label" for="{{ form.size.id_for_label }}">
              <span class="label-text">Size</span></label>
            {{ form.size }}
          </div>

          <div class="form-control w-full">
            <label class="label" for="{{ form.size.id_for_label }}">
              <span class="label-text">Color</span></label>
            {{ form.color }}
          </div>

          <div class="form-control w-full">
            <label class="label" for="{{ form.size.id_for_label }}">
              <span class="label-text">Notes</span></label>
            {{ form.note }}
          </div>

          <div class="mt-8 flex">
            <div>
              <label for="quantity" class="sr-only">Qty</label>
              {% if form.amount.errors %}
                <div class="tooltip tooltip-open tooltip-bottom"
                     data-tip="{% for error in form.amount.errors %}{{ error }}{% endfor %}">{% endif %}
              {{ form.amount }}
              {% if form.amount.errors %}</div>{% endif %}
            </div>
            <button type="submit"
                    class="flex ml-auto btn btn-primary">
              Add to cart
            </button>
            <!--<button
              class="btn btn-circle ml-4">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                   viewBox="0 0 24 24">
                <path
                  d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
              </svg>
            </button>-->
          </div>
        </form>
      </div>
    </div>

    <div>
      <h1 class="text-2xl mt-8" id="description">Description</h1>
      <p class="whitespace-pre-line">
        {{ object.description }}
      </p>
    </div>
  </div>
{% endblock content %}