<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link href="{% static 'batcave.css' %}" rel="stylesheet">
  <title>Basic Django Project</title>
</head>

<body>
<div class="container mx-auto p-4">
  <div class="navbar bg-base-300 rounded-lg mb-6">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-accent" width="32" height="32"
             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
             stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M17 16c.74 -2.286 2.778 -3.762 5 -3c-.173 -2.595 .13 -5.314 -2 -7.5c-1.708 2.648 -3.358 2.557 -5 2.5v-4l-3 2l-3 -2v4c-1.642 .057 -3.292 .148 -5 -2.5c-2.13 2.186 -1.827 4.905 -2 7.5c2.222 -.762 4.26 .714 5 3c2.593 0 3.889 .952 5 4c1.111 -3.048 2.407 -4 5 -4z"></path>
          <path d="M9 8a3 3 0 0 0 6 0"></path>
        </svg>
        <span class="ml-3 text-xl">Batcave</span>
      </a>
    </div>
  {% with user=request.user %}
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          {% if user.cart.count_items > 0 %}<div class="indicator">{% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/>
            </svg>
            {% if user.cart.count_items > 0 %}
            <span class="badge badge-sm indicator-item">{{ user.cart.count_items }}</span>
          </div>{% endif %}
        </label>
        <div tabindex="0" class="mt-3 card card-compact dropdown-content w-52 bg-base-100 shadow">
          <div class="card-body">
            {% with cart=request.user.cart %}
              <span class="font-bold text-lg">{{ cart.count_items }} Items</span>
               <table class="w-full">
                <tbody>
                {% for item in cart.get_items %}
                <tr>
                <th>{{ item.amount }}</th>
                  <td class="text-right pr-3">{{ item.item.product }}</td>
                </tr>
                {% endfor %}
                </tbody>
               </table>
            <span class="text-info">Subtotal: ${{ cart.get_total }}</span>
            <div class="card-actions">
              <a href="{% url 'cart' %}" class="btn btn-primary btn-block">View cart</a>
            </div>
            {% endwith %}
          </div>
        </div>
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://avatars.githubusercontent.com/u/7807230"/>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
    </div>
    {% endwith %}
  </div>
    {% block content %}
    {% endblock %}
    {% include "base_footer.html" %}
  </div>
</body>

</html>